<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<title>Nosotros</title>

<body class="fondo">
    <%- include('./partials/header.ejs')%>

    <div class="carousel slide mt-4" data-ride="carousel">

        <div class="carousel-inner" style="height: auto;">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/about/about.jpg" alt="Tienda">
                <div class="carousel-caption d-none d-sm-inline">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container marketing">

            <!-- Integrantes -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="/images/about/gise.jpeg" alt="" class="bd-placeholder-img rounded-circle" width="50%"
                        height="35%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 140x140">

                    <h2 style="margin-top: 10%;">Gisela</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo cursus
                        magna.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="/images/about/lucia.jpeg" alt="" class="bd-placeholder-img rounded-circle " width="50%"
                        height="35%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 140x140">

                    <h2 style="margin-top: 10%;">Lucia</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo cursus
                        magna.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="/images/about/facu.JPG" alt="" class="bd-placeholder-img rounded-circle" width="50%"
                        height="35%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                        focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <img alt="">
                    <h2 style="margin-top: 10%;">Facundo</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo cursus
                        magna.</p>

                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- Mision y vision -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading tienda">Somos LFG<span class="text-muted">
                        </span>
                    </h2>
                    <p class="lead">Proveemos a nuestros clientes con los mejores productos. Además, brindamos
                        asesoramiento
                        personalizado
                        en nuestro servicio técnico especializado en todas las marcas, te esperamos en nuestras 5
                        sucursales.
                    </p>
                </div>
                <div class="col-md-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13622.971686929677!2d-64.26443550122072!3d-31.393651334798015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1596817712049!5m2!1ses!2sar"
                        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading tienda">Nuestra Visión<span class="text-muted"></span></h2>
                    <p class="lead">Ser la empresa líder y de referencia, a nivel nacional, en la comercialización y
                        distribución de accesorios tecnologicos y servicio técnico de celulares</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/images/about/vision.jpg" alt="" height="100%" width="100%">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading tienda">Nuestra Misión<span class="text-muted"></span>
                    </h2>
                    <p class="lead">Ofrecer accesorios tecnológicos que acompañen y satisfagan las necesidades de
                        nuestros
                        clientes, acompañando los mismos con la mejor atención, asesoramiento y servicio post venta.
                        Brindando además, la posibilidad de que cualquier persona en todo el territorio nacional pueda
                        adquirir nuestros productos desde la comodidad de su hogar.</p>
                </div>
                <div class="col-md-5 mt-3">
                    <img src="/images/about/mision.jpg" alt="" height="100%" width="100%">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </div>

    <%- include('./partials/comunicacion.ejs')%>
    <!--footer-->
    <%- include('./partials/footer.ejs')%>
    <%-include('./partials/scripts.ejs')%>




    <script src="/js/mostrarCarrito.js"></script>
    <script src="/js/avisoCookies.js"></script>
</body>

</html>