<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>Registrate</title>

<body class="fondo">

    <%- include('./partials/header.ejs')%>


    <!--INICIAR SESION-->

    <form action="/user/register" method="POST" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="inicio-sesion row">

                <div class="formulario-body col-sm-8 col-md-6 col-lg-4 mx-auto">


                    <div class="titulo text-center">
                        <p>CREA TU CUENTA</p>
                        <h6 style="font-size: smaller; font-weight: 200; text-align: center;">Por favor, complet치
                            todo los campos</h6>
                    </div>



                    <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" focus
                        required>
                    <br>

                    <input type="text" name="apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                    <br>

                    <input type="email" name="email" class="form-control" placeholder="Ingresa tu correo electronico"
                        required>
                    <br>
                    <input type="password" minlength="4" name="password" class="form-control" placeholder="Contrase침a"
                        required>
                    <br>
                    <input type="password" minlength="4" name="repassword" class="form-control" placeholder="Contrase침a"
                        required>
                    <br>
                    <input type="file" id="avatar" name="avatar" accept="image/x-png,image/gif,image/jpeg" required />
                    <br />

                    <br>

                    <section class="validacionLogin">
                        <% if (typeof errors != 'undefined') { %>
                        <p>Ha ocuirrido un error</p>
                        <ul>

                            <li>
                                <p>Las contrase침as no son iguales.</p>
                            </li>


                        </ul>
                        <% } %>
                    </section>

                    <div style="text-align: center; padding: 3%;">
                        <button class="btn btn-info mt-2 text-center " type="submit">
                            Crear Mi Cuenta
                        </button>
                    </div>





                </div>

            </div>

        </div>
    </form>


    <!--footer-->

    <%- include('./partials/footer.ejs')%>
    <%- include('./partials/comunicacion.ejs')%>

    </div>
    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>

</body>

</html>