<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<title>Editar Usuario</title>

<body class="fondo">

    <%- include('./partials/header.ejs')%>



    <div class="container">

        <div class="col-12 my-3 pt-2 shadow  text-center">
            <h3>Editar a <%=usuario.nombre%></h3>
            <img class="rounded-circle mr-4 mt-2 mb-2" src="/images/users/<%= usuario.avatar %>">
        </div>
        <br>
        <div class="container col-12 text-center shadow mt-4 mb-4">
            <h3 style="color: darkslategray;">Informacion de <%=usuario.nombre%></h3>
        </div>



        <br>
        <form action="/user/edit/<%=usuario.id%>?_method=PUT" method="POST">
            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.nombre %>" disabled>
            <br>
            <input type="text" class="form-control" id="apellido" name="apellido" value="<%= usuario.apellido %>"
                disabled>
            <br>
            <input type="text" class="form-control" id="email" name="email" value="<%= usuario.email %>" disabled>
            <br>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="ingrese la direccion"
                value="<%= usuario.direccion %>">
            <br>

            <select name="tipoUsuario" id="tipoUsuario" class="form-control">
                <option><%=usuario.tipoUsuario.nombre%></option>
                <option value="1">usuario</option>
                <option value="2">administrador</option>
            </select>
            <br>
            <button class="btn-carga btn-sm btn-block" type="submit">GUARDAR CAMBIOS</button>
        </form>
        <br>
        <form action="/user/edit/<%=usuario.id%>?_method=DELETE" method="POST">
            <button class="btn-carga btn-block btn-sm btn btn-danger" type="submit">ELIMINAR USUARIO</button>
        </form>
        <br>


    </div>

    <!--footer-->

    <%- include('./partials/footer.ejs')%>
    <%- include('./partials/comunicacion.ejs')%>


    <!--ScripDeBoostrapt-->
    <%- include('./partials/scripts.ejs')%>

</body>

</html>